@{
    ViewBag.Title = "The Voice Of The Bootcamp";
}

<div style="padding: 30px">
    <img style="display: block; margin: auto" class="text-center" src="~/Content/logo.jpg"/>
    <br/>
    <span style="display: block; margin: auto; font-size: 30px" class="text-center text-success">The Voice Of The Boot<small>camp</small></span>
</div>